# idea-gitignore
.idea/
!.idea/icon*.png
*.iml
build/
src/main/gen
src/main/resources/templates.list
src/main/resources/gitignore/*



# Gradle
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties



# Custom
s3root.xml
s3ripper_urls.txt